body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: -webkit-linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3cce31f, #e9e4f042);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
