:root {
    --space-in-between: 2rem 0 0 0; 
    --padding-sections: 1rem;
    --background-brown: #440000;
    --font-color-white: #FFFFFF;
    --yellow: #EEBB33;
}

p.description {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

div.margin-main-container {
  padding: 0 3rem;
}

div.search-bar {
  margin: 3rem 0 3rem 0;
}


.margin-header-desktop {
  margin: var(--space-in-between);
}

.main-container {
  background-color: #ffffff;
  border-radius: 20px;      
  margin-top: 3rem;
}

.padding-container {
  padding: 1rem;
}

.white-color {
color: var(--font-color-white);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-header {
  background-color: var(--background-brown);
  border-radius: 1rem;
}

.mobile-header-size {
  font-size: 13px;
}

.main-container-mobile {
  background-color: #ffffff;
  border-radius: 20px;      
  margin-top: 1rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 50px;
  display: inline-block;
  margin: 0 0 0 0;
  font-size: 8rem;
  color: var(--background-brown);
}

.bor {
  border: 3px solid bisque;
}
.footer {
  text-align: center;
  font-size: 15px;
  padding: 1rem 0 0 0;
}
